.ant-tree-switcher {
    display: none;
}
.ant-tree-node-content-wrapper {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ant-tree-title * {
    display: inline;
}